* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color:rgb(255, 115, 105);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

#pageTitle {
    color: white;
    padding: 20px 100px;
}

#returnHome {
    width: 130px;
    height: 50px;
    margin: 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 10px;
    transition: 0.3s;
}

#returnHome:hover {
    color: black;
    background: white;
    cursor: pointer;
}

.admin-only {
    display: none;
}

#admin-ticker {
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 30px;
}
